<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>

  <h1>Your Daily Meal Plan</h1>
  <h3><a href="/days/new">Add a Day</a></h3>
  

</main>

<%- include('../partials/footer') %>