<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  
  <% if (user) { %>
    <h2>Add a Meal</h2>
    <form action="/meals" method="post" autocomplete="off">
      <label>
        Name:
        <input type="text" name="name" >
      </label>
      <label>
        Type of Meal:
        <select name="mealType">
          <option value="Breakfast" selected>Breakfast</option>
          <option value="Lunch">Lunch</option>
          <option value="Dinner">Dinner</option>
          <option value="Snack">Snack</option>
        </select>
      </label>
      <label>
        Meal Description:
        <textarea name="description" cols="40" rows="2" placeholder="describe the meal..."></textarea>
      </label>
      <button type="submit" class="btn btn-danger">Add Meal</button>
    </form>
  <% } %>
  
</main>

<%- include('../partials/footer') %>
